*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #ffffff;
    border-radius: 0.5rem;
}

.btn1,
a.btn1,
button.btn1 {
    text-align: center;
    font-size: 1.9vw;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.2rem 0.7rem;
    margin-left: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #ffffff;
    border-radius: 0.5rem;
}

.btn2,
a.btn2,
button.btn2 {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 1.45;
    position: relative;
    display: inline-block;
    padding: 0.6vw 1vw;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #000;
    border-radius: 50%;
    margin: 0.5vw;
    z-index: 1;
}

.btn--orange,
a.btn--orange {
    color: #fff;
    background-color: #e5af00;
}

.btn--orange:hover,
a.btn--orange:hover {
    color: #fff;
    background: #e5af00;
}

.btn--orange1,
a.btn--orange1 {
    color: #fff;
    background-color: #e50000;
}

.btn--orange1:hover,
a.btn--orange1:hover {
    color: #fff;
    background: #e50000;
}

.btn--orange2,
a.btn--orange2 {
    color: #fff;
    background-color: #35e500;
}

.btn--orange2:hover,
a.btn--orange2:hover {
    color: #fff;
    background: #35e500;
}

.sbtn, .sbtn1 {
    text-align: center;
}

.endbtn {
    position: fixed;
    text-align: end;
    bottom: 50px;
    right: 50px;
}

.rtnbtn {
    margin-top: 50px;
}

.selectbtn1, .selectbtn2, .selectbtn3, .selectbtn4, .selectbtn5, .selectbtn6, .selectbtn7, .selectbtn8, .selectbtn9, .selectbtn10 {
    background-color: #e5af00;
    color: #000;
    z-index: 2;
}

.selectbtn10 {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

@media screen and (max-width: 768px) {

    .btn,
    a.btn,
    button.btn {
        font-size: 5vw;
        font-weight: 700;
        line-height: 1.5;
        position: relative;
        display: inline-block;
        padding: 0.5rem 1rem;
        margin: 30px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        letter-spacing: 0.1em;
        color: #ffffff;
        border-radius: 0.5rem;
    }

    .btn1,
    a.btn1,
    button.btn1 {
        text-align: center;
        font-size: 4.5vw;
        font-weight: 700;
        line-height: 1.5;
        position: relative;
        display: inline-block;
        padding: 0.2rem 0.7rem;
        margin-left: 5px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        letter-spacing: 0.1em;
        color: #ffffff;
        border-radius: 0.5rem;
    }

    .btn2,
    a.btn2,
    button.btn2 {
        line-height: 1.1;
    }
    
    .ans {
        font-size: 5vw;
    }

    .endbtn {
        position: fixed;
        text-align: end;
        bottom: 20px;
        right: 20px;
    }
}