body{
  background-color: #131313;
}

main {
  color: #fff;
  font-size: 2.2vw;
  text-align: center;
}

.num{
  font-size: 30px;
  color: #e5af00;
  text-align: center;
  border-bottom: double 6px #e5af00;
}

.position {
  margin-top: 0px;
}

#hint1, #hint2, #hint3, #hint4, #hint5, #hint6, #hint7, #hint8, #hint9, #hint10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.code{
  padding-top: 33px;
  padding-bottom: 10px;
}

.code1{
  padding-top: 10px;
}

.code2{
  padding-top: 2px;
  padding-bottom: 2px;
}

.toi{
  padding-top: 10px;
  padding-bottom: 10px;
}

.hint {
  color: #e5af00;
}