body{
  background-color: #131313;
}

main {
  color: #fff;
  font-size: 2.2vw;
  text-align: center;
  height: 100vh;
}

.num{
  font-size: 3.3vw;
  color: #e5af00;
  text-align: center;
  line-height: 2;
  border-bottom: double 6px #e5af00;
}

.position {
  margin-top: 0px;
}

#hint1, #hint2, #hint3, #hint4, #hint5, #hint6, #hint7, #hint8, #hint9, #hint10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.code {
  font-size: 2.8vw;
  padding-top: 33px;
  padding-bottom: 10px;
}

.code1 {
  padding-top: 10px;
  line-height: 1.5;
}

.code2{
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 1.5;
}

.toi {
  font-size: 3vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hint {
  font-size: 3vw;
  color: #e5af00;
}

#select {
  position: static;
}

@media screen and (max-width: 768px) {

  .num {
    font-size: 7.5vw;
  }

  .code {
    font-size: 3.8vw;
    padding-top: 33px;
    padding-bottom: 10px;
  }
  
  .code1 {
    font-size: 4vw;
    padding-top: 10px;
    margin-bottom: 2px;
    line-height: 1.5;
  }

  .code2{
    font-size: 4vw;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.5;
  }
  
  .toi {
    font-size: 3vw;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .hint {
    font-size: 5vw;
    color: #e5af00;
  }

  .hints {
    font-size: 5vw;
  }

  .answer {
    font-size: 4.2vw;
  }

  input {
    font-size: 16px;
    transform: scale();
  }

}