@charset "utf-8";

.title1{
  font-size: 4.3vw;
  font-weight: bolder;
  text-align: center;
  color:#e5af00;
  padding-top: 70px;
  margin-bottom: 0px;
}

.title2{
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  color:#e5af00;
  margin-top: 70px;
  margin-bottom: 0px;
}

.center {
  text-align: center;
}

.startpage {
  color:white;
  font-size: 1.9vw;
  text-align: center;
}

.midashi1 {
  color: #fff;
  font-size: 2.8vw;
  line-height: 2.2;
  text-align: center;
}

.time {
  color: red;
  font-size: 3.5vw;
  font-weight: bold;
  position:fixed;right: 45px;top: 20px;
  z-index: 1;
}

.true {
  font-size: 40px;
  color:#e5af00;
  line-height: 2;

}

.iro {
  color:#e5af00;
}

.iro1 {
  color:#ff0000;
}

.iro2 {
  color:#35e500;
}

.break {
  line-height: 1.8;
}

.answer {
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 40px;
}

.alert {
  font-size: 3vw;
  color: #e5af00;
  margin: 5vw 0.5vw;
}

@media screen and (max-width: 768px) {

  .title1 {
    font-size: 11.7vw;
    line-height: 3;
  }

  .title2 {
    font-size: 11vw;
    line-height: 3;
  }
  .startpage {
    font-size: 4vw;
    line-height: 4;
  }

  .midashi1 {
    font-size: 7vw;
    line-height: 3;
  }

  .time {
    color: red;
    font-size: 10vw;
    font-weight: bold;
    position:fixed;right: 20px;top: 20px;
    z-index: 1;
  }

  .break {
    line-height: 2.2;
  }

  .true {
    font-size: 10vw;
  }

}