@charset "utf-8";

.title1{
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  color:#e5af00;
  margin-top: 70px;
  margin-bottom: 0px;
}

.title2{
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  color:#e5af00;
  margin-top: 70px;
  margin-bottom: 0px;
}

.startpage {
  color:white;
  font-size: 20px;
  text-align: center;
}

.midashi1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.time {
  color: red;
  font-size: 65px;
  font-weight: bold;
  position:fixed;right: 45px;top: 20px;
}

.true {
  font-size: 40px;
  color:#e5af00;
  margin-bottom: 20px;

}

.iro {
  color:#e5af00;
}

.iro1 {
  color:#ff0000;
}

.iro2 {
  color:#35e500;
}

.break {
  padding-top: 6px;
  padding-bottom: 6px;
}

.break1{
  padding-bottom: 6px;
}

.num{
  font-size: 30px;
  color: #e5af00;
  text-align: center;
  border-bottom: double 6px #e5af00;
}

.answer {
  margin: 20px 0;
}