body{background-color:wheat;}

.title1{
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    color:indigo;
}

.midashi1{
    font-size: 30px;
    text-align: center;
}

.rule{
    text-align: center;
}

.start{
    text-align: center;
}
