body{
    background-color: wheat;
}

.result{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: brown;
}

.last{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: brown;
}

div#result1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: brown;
}